In [145]:
import biocypher
import pandas as pd

In [146]:
trait_node_file = "/home/dgg32/Downloads/microbe_kg_data/transformed/condensed_traits_NCBI/nodes.tsv"
trait_edge_file = "/home/dgg32/Downloads/microbe_kg_data/transformed/condensed_traits_NCBI/edges.tsv"

ncbitaxon_nodes_file = "/home/dgg32/Downloads/microbe_kg_data/transformed/ontologies/ncbitaxon_nodes.tsv"
ncbitaxon_edges_file = "/home/dgg32/Downloads/microbe_kg_data/transformed/ontologies/ncbitaxon_edges.tsv"

In [147]:
ncbitaxon_nodes = pd.read_csv(ncbitaxon_nodes_file, sep="\t").fillna("")
ncbitaxon_nodes.head()

/tmp/ipykernel_15611/1550072320.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  ncbitaxon_nodes = pd.read_csv(ncbitaxon_nodes_file, sep="\t").fillna("")

,id,category,name,description,xref,provided_by,synonym,iri,same_as
0,NCBITaxon:1252590,biolink:OrganismalEntity,Ichneumonidae sp. BOLD:AAG9159,,GC_ID:1,ncbitaxon.json,,http://purl.obolibrary.org/obo/NCBITaxon_1252590,
1,NCBITaxon:1252591,biolink:OrganismalEntity,Ichneumonidae sp. ASWA193-08,,GC_ID:1,ncbitaxon.json,,http://purl.obolibrary.org/obo/NCBITaxon_1252591,
2,NCBITaxon:1252592,biolink:OrganismalEntity,Ichneumonidae sp. BOLD:AAH1531,,GC_ID:1,ncbitaxon.json,,http://purl.obolibrary.org/obo/NCBITaxon_1252592,
3,NCBITaxon:1252593,biolink:OrganismalEntity,Stibeutes sp. BOLD:ABZ5036,,GC_ID:1,ncbitaxon.json,,http://purl.obolibrary.org/obo/NCBITaxon_1252593,
4,NCBITaxon:1252594,biolink:OrganismalEntity,Ichneumonidae sp. BOLD:AAH2156,,GC_ID:1,ncbitaxon.json,,http://purl.obolibrary.org/obo/NCBITaxon_1252594,

In [148]:
trait_nodes = pd.read_csv(trait_node_file, sep="\t").fillna("")
trait_nodes.head()

,id,name,category,match_description
0,NCBITaxon:54261,Ferroglobus placidus,biolink:OrganismTaxon,
1,microtraits.pathways:nitrate_reduction,nitrate reduction,biolink:BiologicalProcess,
2,NCBITaxon:2714,Aquifex pyrophilus,biolink:OrganismTaxon,
3,NCBITaxon:29466,Veillonella alcalescens,biolink:OrganismTaxon,
4,NCBITaxon:266,Micrococcus denitrificans,biolink:OrganismTaxon,

In [149]:
right_taxon_df = trait_nodes[trait_nodes["category"] == "biolink:OrganismTaxon"][["id", "name"]].set_index("id")
left_taxon_df = ncbitaxon_nodes[["id", "name"]].set_index("id")

taxon_df = pd.concat([left_taxon_df, right_taxon_df[~right_taxon_df.index.isin(left_taxon_df.index)]])


taxon_df.reset_index(inplace=True)
taxon_df.head()

                  id                            name
0  NCBITaxon:1252590  Ichneumonidae sp. BOLD:AAG9159
1  NCBITaxon:1252591    Ichneumonidae sp. ASWA193-08
2  NCBITaxon:1252592  Ichneumonidae sp. BOLD:AAH1531
3  NCBITaxon:1252593      Stibeutes sp. BOLD:ABZ5036
4  NCBITaxon:1252594  Ichneumonidae sp. BOLD:AAH2156

In [150]:
taxon_df[taxon_df["id"] == "NCBITaxon:100"]

                    id                    name
1012363  NCBITaxon:100  Ancylobacter aquaticus

In [151]:
trait_nodes[trait_nodes["id"] == "NCBITaxon:100"]

,id,name,category,match_description
3213,NCBITaxon:100,ancylobacter_aquaticus,biolink:OrganismTaxon,

In [152]:
ncbitaxon_nodes[ncbitaxon_nodes["id"] == "NCBITaxon:100"]

,id,category,name,description,xref,provided_by,synonym,iri,same_as
1012363,NCBITaxon:100,biolink:OrganismalEntity,Ancylobacter aquaticus,,GC_ID:11,ncbitaxon.json,Microcyclus aquaticus,http://purl.obolibrary.org/obo/NCBITaxon_100,

In [153]:
trait_nodes["category"].unique()

array(['biolink:OrganismTaxon', 'biolink:BiologicalProcess',
       'biolink:ActivityAndBehavior', '', 'biolink:ChemicalSubstance',
       'biolink:AbstractEntity'], dtype=object)

In [154]:
trait_nodes[trait_nodes["category"] == "biolink:BiologicalProcess"].head()

,id,name,category,match_description
1,microtraits.pathways:nitrate_reduction,nitrate reduction,biolink:BiologicalProcess,
18,microtraits.pathways:denitrification,denitrification,biolink:BiologicalProcess,
20,microtraits.pathways:nitrate_reduction_to_ammonia,nitrate reduction to ammonia,biolink:BiologicalProcess,
22,microtraits.pathways:nitrite_reduction,nitrite reduction,biolink:BiologicalProcess,
23,microtraits.pathways:nitric_oxide_reduction,nitric oxide reduction,biolink:BiologicalProcess,

In [155]:
trait_nodes[trait_nodes["category"] == "biolink:ActivityAndBehavior"].head()

,id,name,category,match_description
221,ECOCORE:00000180,microaerophilic,biolink:ActivityAndBehavior,
1537,ECOCORE:00000172,anaerobe,biolink:ActivityAndBehavior,
1542,ECOCORE:00000173,aerobe,biolink:ActivityAndBehavior,
1627,ECOCORE:00000177,facultative anaerobe,biolink:ActivityAndBehavior,
12224,ECOCORE:00000179,obligate aerobe,biolink:ActivityAndBehavior,

In [156]:
trait_nodes[trait_nodes["category"] == "biolink:ChemicalSubstance"].head()

                id       name                   category match_description
1540   CHEBI:33290       food  biolink:ChemicalSubstance
12219  CHEBI:17234    glucose  biolink:ChemicalSubstance  ExactStringMatch
12220  CHEBI:26986  threonine  biolink:ChemicalSubstance  ExactStringMatch
12221  CHEBI:17822     serine  biolink:ChemicalSubstance  ExactStringMatch
12222  CHEBI:16449    alanine  biolink:ChemicalSubstance  ExactStringMatch

In [157]:
trait_nodes[trait_nodes["category"] == "biolink:AbstractEntity"].head()

,id,name,category,match_description
12223,microtraits.cell_shape_enum:bacillus,bacillus,biolink:AbstractEntity,ExactStringMatch
12231,microtraits.cell_shape_enum:coccus,coccus,biolink:AbstractEntity,oio:hasExactSynonym
12238,microtraits.cell_shape_enum:coccobacillus,coccobacillus,biolink:AbstractEntity,ExactStringMatch
12401,microtraits.cell_shape_enum:spiral,spiral,biolink:AbstractEntity,ExactStringMatch
17872,microtraits.cell_shape_enum:filament,filament,biolink:AbstractEntity,

In [158]:
trait_nodes[trait_nodes["category"].isna()].head()

Empty DataFrame
Columns: [id, name, category, match_description]
Index: []

In [159]:

def ncbitaxon_generator():
    for row in taxon_df.itertuples():
        yield (
          row.id,
          "biolink:OrganismTaxon",
          {"name": row.name.replace("'", "")}
        )

def BiologicalProcess_generator():
    for row in trait_nodes[trait_nodes["category"] == "biolink:BiologicalProcess"].itertuples():
        yield (
          row.id,
          "biolink:BiologicalProcess",
          {"name": row.name.replace("'", "")}
        )

def ActivityAndBehavior_generator():
    for row in trait_nodes[trait_nodes["category"] == "biolink:ActivityAndBehavior"].itertuples():
        yield (
          row.id,
          row.category,
          {"name": row.name.replace("'", "")}
        )

In [160]:
taxon_df.head()

                  id                            name
0  NCBITaxon:1252590  Ichneumonidae sp. BOLD:AAG9159
1  NCBITaxon:1252591    Ichneumonidae sp. ASWA193-08
2  NCBITaxon:1252592  Ichneumonidae sp. BOLD:AAH1531
3  NCBITaxon:1252593      Stibeutes sp. BOLD:ABZ5036
4  NCBITaxon:1252594  Ichneumonidae sp. BOLD:AAH2156

In [161]:

driver = biocypher.BioCypher(
    offline=True,
    schema_config_path="schema/OrganismTaxon.yaml"
)
driver.write_nodes(ncbitaxon_generator())

driver.write_import_call()

INFO -- Loading ontologies...
INFO -- Instantiating OntologyAdapter class for https://github.com/biolink/biolink-model/raw/v3.2.1/biolink-model.owl.ttl.
INFO -- Creating output directory `/home/dgg32/Documents/kg_microbe_biocypher_semspect/biocypher-out/20240107010335`.
INFO -- Writing 1000000 entries to OrganismTaxon-part000.csv
INFO -- Writing 1000000 entries to OrganismTaxon-part001.csv
INFO -- Writing 476174 entries to OrganismTaxon-part002.csv
INFO -- Writing neo4j import call to `/home/dgg32/Documents/kg_microbe_biocypher_semspect/biocypher-out/20240107010335/neo4j-admin-import-call.sh`.

In [162]:
trait_nodes[trait_nodes["category"] == "biolink:BiologicalProcess"].head()

,id,name,category,match_description
1,microtraits.pathways:nitrate_reduction,nitrate reduction,biolink:BiologicalProcess,
18,microtraits.pathways:denitrification,denitrification,biolink:BiologicalProcess,
20,microtraits.pathways:nitrate_reduction_to_ammonia,nitrate reduction to ammonia,biolink:BiologicalProcess,
22,microtraits.pathways:nitrite_reduction,nitrite reduction,biolink:BiologicalProcess,
23,microtraits.pathways:nitric_oxide_reduction,nitric oxide reduction,biolink:BiologicalProcess,

In [163]:
driver = biocypher.BioCypher(
    offline=True,
    schema_config_path="schema/BiologicalProcess.yaml"
)
driver.write_nodes(BiologicalProcess_generator())

driver.write_import_call()

INFO -- Loading ontologies...
INFO -- Instantiating OntologyAdapter class for https://github.com/biolink/biolink-model/raw/v3.2.1/biolink-model.owl.ttl.
INFO -- Creating output directory `/home/dgg32/Documents/kg_microbe_biocypher_semspect/biocypher-out/20240107010354`.
INFO -- Writing 100 entries to BiologicalProcess-part000.csv
INFO -- Writing neo4j import call to `/home/dgg32/Documents/kg_microbe_biocypher_semspect/biocypher-out/20240107010354/neo4j-admin-import-call.sh`.

In [164]:


for row in trait_nodes[trait_nodes["category"] == "biolink:ActivityAndBehavior"].itertuples():
    print (row.id, row.category, row.name)
    break

ECOCORE:00000180 biolink:ActivityAndBehavior microaerophilic

In [165]:
driver = biocypher.BioCypher(
    offline=True,
    schema_config_path="schema/ActivityAndBehavior.yaml"
)
driver.write_nodes(ActivityAndBehavior_generator())

driver.write_import_call()

INFO -- Loading ontologies...
INFO -- Instantiating OntologyAdapter class for https://github.com/biolink/biolink-model/raw/v3.2.1/biolink-model.owl.ttl.
INFO -- Creating output directory `/home/dgg32/Documents/kg_microbe_biocypher_semspect/biocypher-out/20240107010401`.
INFO -- Writing 6 entries to BiologicalProcess-part000.csv
INFO -- Writing neo4j import call to `/home/dgg32/Documents/kg_microbe_biocypher_semspect/biocypher-out/20240107010401/neo4j-admin-import-call.sh`.

In [166]:
ncbitaxon_edges = pd.read_csv(ncbitaxon_edges_file, sep="\t")
ncbitaxon_edges.head()

,id,subject,predicate,object,relation,knowledge_source
0,urn:uuid:caf3d76a-238b-45e4-b035-21bd06fc236f,NCBITaxon:1252590,biolink:subclass_of,NCBITaxon:173037,rdfs:subClassOf,ncbitaxon.json
1,urn:uuid:5f9a85c8-9e39-4dfb-b88a-61b1083c452f,NCBITaxon:1252591,biolink:subclass_of,NCBITaxon:173037,rdfs:subClassOf,ncbitaxon.json
2,urn:uuid:c155a9c1-d864-4132-b327-2828b15b6c11,NCBITaxon:1252592,biolink:subclass_of,NCBITaxon:173037,rdfs:subClassOf,ncbitaxon.json
3,urn:uuid:30780ae1-cf9c-4887-bd8b-c4fdfc006b43,NCBITaxon:1252593,biolink:subclass_of,NCBITaxon:2633401,rdfs:subClassOf,ncbitaxon.json
4,urn:uuid:919806af-1c6c-4b0c-ae2a-0465c6bd0ff2,NCBITaxon:1252594,biolink:subclass_of,NCBITaxon:173037,rdfs:subClassOf,ncbitaxon.json

In [167]:
def ncbitaxon_edge_generator():
    for row in ncbitaxon_edges[(ncbitaxon_edges["predicate"] == "biolink:subclass_of") & (~ncbitaxon_edges["object"].str.startswith("OBO:"))].itertuples():
        yield (
          f"{row.subject}_{row.object}",
          row.subject,
          row.object,
          row.predicate,
          {}
        )

In [168]:
driver = biocypher.BioCypher(
    offline=True,
    schema_config_path="schema/OrganismTaxon_OrganismTaxon.yaml"
)
driver.write_edges(ncbitaxon_edge_generator())

driver.write_import_call()

INFO -- Loading ontologies...
INFO -- Instantiating OntologyAdapter class for https://github.com/biolink/biolink-model/raw/v3.2.1/biolink-model.owl.ttl.

INFO -- Creating output directory `/home/dgg32/Documents/kg_microbe_biocypher_semspect/biocypher-out/20240107010406`.
INFO -- Writing 1000000 entries to Subclass_of-part000.csv
INFO -- Writing 1000000 entries to Subclass_of-part001.csv
INFO -- Writing 475682 entries to Subclass_of-part002.csv
INFO -- Writing neo4j import call to `/home/dgg32/Documents/kg_microbe_biocypher_semspect/biocypher-out/20240107010406/neo4j-admin-import-call.sh`.

In [169]:
trait_edges = pd.read_csv(trait_edge_file, sep="\t")
trait_edges.head()

,subject,predicate,object,relation
0,NCBITaxon:54261,biolink:capable_of,microtraits.pathways:nitrate_reduction,RO:0002215
1,NCBITaxon:2714,biolink:capable_of,microtraits.pathways:nitrate_reduction,RO:0002215
2,NCBITaxon:29466,biolink:capable_of,microtraits.pathways:nitrate_reduction,RO:0002215
3,NCBITaxon:266,biolink:capable_of,microtraits.pathways:nitrate_reduction,RO:0002215
4,NCBITaxon:36861,biolink:capable_of,microtraits.pathways:nitrate_reduction,RO:0002215

In [170]:
# yield (
#     interaction.get_id(),
#     interaction.get_source_id(),
#     interaction.get_target_id(),
#     interaction.get_label(),
#     interaction.get_properties(),
# )


def capable_of_generator():
    for row in trait_edges[trait_edges["predicate"] == "biolink:capable_of"].itertuples():
        yield (
          f"{row.subject}_{row.object}",
          row.subject,
          row.object,
          row.predicate,
          {}
        )

In [171]:
driver = biocypher.BioCypher(
    offline=True,
    schema_config_path="schema/OrganismTaxon_BiologicalProcess.yaml"
)
driver.write_edges(capable_of_generator())
driver.write_import_call()

INFO -- Loading ontologies...
INFO -- Instantiating OntologyAdapter class for https://github.com/biolink/biolink-model/raw/v3.2.1/biolink-model.owl.ttl.
INFO -- Creating output directory `/home/dgg32/Documents/kg_microbe_biocypher_semspect/biocypher-out/20240107010426`.
WARNING -- Duplicate edge type capable_of found.
INFO -- Writing 31922 entries to Capable_of-part000.csv
INFO -- Writing neo4j import call to `/home/dgg32/Documents/kg_microbe_biocypher_semspect/biocypher-out/20240107010426/neo4j-admin-import-call.sh`.